<div class= "row">
  <div class="container-fluid">
  <%= form_for @projectchore do |f| %>

  <% if @projectchore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projectchore.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @projectchore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


     <div class="span12">
      <%= f.label :description %>
      <%= f.text_area :description, :cols => "10", :rows => "5" %><br><br>
    </div>
  

    <div class= "span3">
       <%= f.label :status %>
       <% mystatuslist = [['New', 'New'], ['Assigned', 'Assigned'], ['Closed', 'Closed']] %>
        <%= f.select :status, mystatuslist, :class => "dropdown-menu", :role => "menu", :arialabelledby => "dropdownmenu" %>
     <br><br>
    </div>

  
  <div class="span3">
    <%= f.label :owner %>
    <% users_array = User.all.map { |user| [user.name, user.id] } %>
    <%= f.select :user_id, options_for_select(users_array, "Choose") %>
    <br><br>
  </div>



  <div class="span3">
    <%= f.label :priority %>
    <% mylist = [['Low', 'Low'], ['Medium', 'Medium'], ['High', 'High'], ['Urgent', 'Urgent'], ['Immediate', 'Immediate']] %>
     <%= f.select :priority, mylist %>
     <br><br>
  </div>



  <div class="span16">
    <%= f.label :Duedate %>
    <%= f.datetime_select :duedate, :start_year => 2012, :ampm => true %>
     <br><br>
  </div>

  <div class="span4">
    <%= f.submit :class=> "btn btn-large btn-primary" %>
  </div>
   
  <% end %>
  </div>
</div>