<h1>Listing Tasks</h1>

<table>
  <tr>
    <th>Task_Id</th>
    <th>Task_Description</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Priority</th>
    <th>Due_Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @projectchores.each do |projectchore| %>
  <tr>
    <td><%= projectchore.id %></td>
    <td><%= projectchore.description %></td>
    <td><%= projectchore.status %></td>
    <td><%= projectchore.user.name %></td>
    <td><%= projectchore.priority %></td>
    <td><%= projectchore.duedate %></td>
    <td><%= link_to 'Show', projectchore %></td>
    <td><%= link_to 'Edit', edit_projectchore_path(projectchore) %></td>
    <td><%= link_to 'Destroy', projectchore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_projectchore_path %>
