<header class="navbar navbar-center-top navbar-inverse ">
    <div class="navbar-inner" >	
      <div class="container">
        
          <%= favicon_link_tag 'favicon.ico', :rel => 'icon', :type => 'image/png' %>
          <nav class= "brand">
            <%= "PROJECT TASKS" %>
          </nav>

          <nav>
            <ul class= "nav pull-right nav-pills">
              <!-- <div class => "nav nav-pills" > -->
              <li><%= link_to "Home", root_path, :rel => "tooltip", :title => "Go to Home Page" %></li>        
    
              <% if user_signed_in? %>
    			      <li>
                  Signed in as <%= current_user.email %>
                </li>
            		<li>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete , :rel => "tooltip", :title => "Click to Login as a different User"%>
                </li>
  			         <% else %>
    			      <li>
                  <%= link_to "Sign up", new_user_registration_path, :rel => "tooltip", :title => "Register as a New User" %>
                </li> 
    			      <li>
                  <%= link_to "Sign in", new_user_session_path, :rel => "tooltip", :title => "Login to Access your Task" %>
                </li> 
                <li>
                  <%= link_to "Admin", admin_users_path, :class => "btn-link", :rel => "tooltip", :title => "Login with Admin Privilege"%>
                </li>

  		      	<% end %>
            <!-- </div> -->
              <%= image_tag "Task_logo.jpg" %>
            </ul>
    
          </nav>
		    </div>
      </div>
        
  </header>