<header class="navbar navbar-inverse navbar-center-top">
    <div class="navbar-inner" >	
      
      <div class="container">
        
          <%= favicon_link_tag 'favicon.ico', :rel => 'icon', :type => 'image/png' %>

          <nav class= "brand">
            <%= "PROJECT TASKS" %>
          </nav>

          <nav>
    
            <ul class= "nav pull-right">
              
              <!-- <li><a href="http://twitter.com/rails_apps" class="twitter">Twitter</a></li> -->
                <li><%= link_to "Home", root_path %></li>        
    
              <% if user_signed_in? %>
    			      <li>
                  Signed in as <%= current_user.email %>
                </li>
            		<li>
                . Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </li>
  			         <% else %>
    			      <li>
                  <%= link_to "Sign up", new_user_registration_path %>
                </li> 
    			      <li>
                  <%= link_to "Sign in", new_user_session_path %>
                </li> 
                <li>
                  <%= link_to "Admin", admin_users_path, :class => "btn-link" %>
                </li>

  		      	<% end %>
              <%= image_tag "Task_logo.jpg" %>
            </ul>
    
          </nav>
		    </div>
      </div>
        
  </header>