<!DOCTYPE html>
<html>
	<head>
     		<title>Projectask</title>
      	<%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
  			<%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
      <div class="hero-unit">
        <div class="container-fluid">
            <%= yield %><br />
              
        </div>
      </div>
    <%= render 'layouts/footer' %>

 </body> 
</html>
